body {
    display: flex;
    background-color: black;
    font-family: georgia;
    color: rgb(200, 200, 200);
    flex-direction: column;
    outline: white ;
}

.header {
    background-color: black;
    color: rgb(200,200,200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    /* outline: red solid; */
}

h1 {
   margin: 10px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

hr {
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
    flex-shrink: 0;
    width: 90%;
}

.navbar .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
    flex-shrink: 0;
    outline: blue solid;
    width: 100%;
}

.navbar-links a {
    text-decoration: none;
    color:rgb(200, 200, 200);
    flex-shrink: 0;
}

.footer-links a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    flex-shrink: 0;
}


