body {
    display: flex;
    background-color: black;
    font-family: georgia;
    color: rgb(200, 200, 200);
    flex-direction: column;
}

.header {
    background-color: black;
    color: rgb(200,200,200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

.footer {
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    bottom: 0;
    width: 100;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    /* outline: red solid; */
}

hr {
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
    flex-shrink: 0;
    width: 90%;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    font-weight: bold;
    font-size: 20px;
    /* outline: blue solid; */
}

a {
    text-decoration: none;
    color:rgb(200, 200, 200);
    width: 70px;
    flex-shrink: 0;
}

h1 {
   margin: 10px 0px;
}


